#menuBG {
    width: 400px;
    height: 470px;
    margin:10px auto;
}

#frmMenu {
    width:600px;
    height:200px;
}

#totalPrice {
    width:200px;
    height:190px;
    margin: 0 auto;
    float:right;
}

.left {
    width:200px;
    height:200px;
    float:left;
}

.center {
    width:200px;
    height:200px;
    float:left;
}

.right {
    width:200px;
    height:200px;
    float:right;
}

#showText {
    width:200px;
    height:190px;
    margin:0px auto;
    float: left;
}

#cart {
    top:0; margin: 0px auto;
    width:400px;
    height:200px;
}

#btnOrder {
    margin:10px 0px 0px 275px;
    width:100px;
    height:40px;
    display:block;
}

body {
    background-color: lightblue;
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: green;
    text-align: center;
    width: 600px;
}

h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blueviolet;
}

div {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
}